/* Tô màu nền và thay đổi màu chữ khi hover */
.CDBSidebarMenuItem:hover {
    background-color: #fff; /* Màu nền khi hover */
    color: #007bff; /* Màu chữ khi hover */
  }
  
  /* Tô màu nền và màu chữ cho mục đang active (bằng cách sử dụng pseudo-class :active) */
  .CDBSidebarMenuItem:active {
    background-color: #333; /* Màu nền khi active */
    color: #fff; /* Màu chữ khi active */
  }
  
  .sidebar-content {
    border: 2px solid #007bff;
  }